.art{
    margin:auto;
}

td{
    background-color: black;
    height: 300px;
    width: 150px;
}

#one{
    background-color: #DAD2DB;
}

#two{
    background-color: #325FA2;
}

#one{
    background-color: #DAD2DB;
}

#one{
    background-color: #DAD2DB;
}

#one{
    background-color: #DAD2DB;
}